@import "../../variables.css";

.option {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 52px;
  font-size: 16px;
  color: var(--color-text);
  border-bottom: 1px solid var(--color-secondary-100);
}

.checkboxInnerWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.textInnerWrap {
  display: flex;
  gap: 25px;
  align-items: center;
  padding-left: 30%;
  width: 100%;
  cursor: pointer;
}

.labelCheckbox {
  width: 100%;
  cursor: pointer;
}

.inputCheckbox {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  border: 2px solid var(--color-secondary-300);
  outline: none;
  cursor: pointer;
}

.inputChecked {
  background-color: var(--color-primary-500);
  border: 2px solid var(--color-primary-600);
  position: relative;
}

.inputChecked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-image: url("../../img/ok.svg");
  background-repeat: no-repeat;
}
