@import "../../variables.css";

.searchInput {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  padding: 10px 12px;
  background: var(--color-secondary-100);
  border-radius: 10px;
}

.searchTextField {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: var(--color-text);
}

.searchTextField:focus {
  outline: none;
}

.searchTextField::-webkit-input-placeholder {
  color: var(--color-secondary-300);
  font-family: "Inter", sans-serif;
}

.searchTextField:-moz-placeholder {
  color: var(--color-secondary-300);
  font-family: "Inter", sans-serif;
}

.searchTextField::-moz-placeholder {
  color: var(--color-secondary-300);
  font-family: "Inter", sans-serif;
}

.searchTextField:-ms-input-placeholder {
  color: var(--color-secondary-300);
  font-family: "Inter", sans-serif;
}

.searchTextField::-ms-input-placeholder {
  color: var(--color-secondary-300);
  font-family: "Inter", sans-serif;
}

.searchTextField:focus::-webkit-input-placeholder {
  color: transparent;
}

.searchTextField:focus:-moz-placeholder {
  color: transparent;
}

.searchTextField:focus::-moz-placeholder {
  color: transparent;
}

.searchTextField:focus:-ms-input-placeholder {
  color: transparent;
}
