@import "../../variables.css";

.chipsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  min-height: 42px;
  padding: 8px 10px;
  border: 1px solid var(--color-white-300);
  border-radius: 10px;
}

.innerWrap {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.dropButton {
  width: 30px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.dropButtonOpened {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}
