.ChipsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  min-height: 40px;
  padding: 10px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
}

.innerWrap {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.DropButton {
  width: 30px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

.DropButtonOpened {
  transform: rotate(180deg);
}
