.ChipsContainer {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding: 15px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
}

.innerWrap {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.DropButton {
  background-color: black;
}
